<div class="fullscreen">
  <div class="flexbox flexbox-center">
    <div class="container">
      <img class="img-responsive img-centered" src="https://cdn.thingiverse.com/renders/3f/24/b2/89/21/cyberdyne-systems_preview_featured.jpg" />

      <anim-fader class="text-center" [isVisible]='IsSpeakingInfoVisible'>
        <h3>{{speakingInfoText}}</h3>
      </anim-fader>
    </div>
  </div>
</div>