@font-face {
  font-family: 'cyberdyne';
  src: url('../assets/fonts/cyberdyne.ttf');
}


.content, h1, h2, h3, h4, h5, h6, p {
  color: whitesmoke;
  font-family: 'cyberdyne';
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: black; /* Just to visualize the extent */
}

.flexbox-center {
  justify-content: center;
}

.img-centered {
  margin: 0 auto;
}